<div class="page home">
  <div class="row small-12 centered columns">
      <a href="/roofs">
        <img src="/images/img_logo.png" />
      </a>
    
      <h2 class="para">
        A rooftop treasure hunt<br>
        for solar prospectors
      </h2>
      <a href="/roofs" class="button expand bottom">Start</a>
  </div>
</div>
